{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
iSeller - Una Nueva Forma de comprar
{% endblock %}

{% block content%}


	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2>Tus notificaciones</h>
				</div>
				<div class="col-md-5">
					<ul class="breadcrumb">
						<li>Inicio/</a>						
					</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="content">
		<div class="container">
			{%if notifi%}
			{%for x in notifi%}
			<div>
			<!-- Modificar Esto <3 Karen-->
					{{x.mensaje}}			
			</div>
			{%endfor%}
			{%endif%}

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->


{%endblock%}

