
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}




<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ detalles.0.nombre }}</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li>{{detalles.0.nombre}}</li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
            {% block estadoListaDeseos %}
                {%if estadoListaDeseos%}
                    <div class="alert alert-success alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Agregado!</strong> {{ detalles.0.nombre }} fue agregado con exito a su lista de deseos.
                    </div>
                {%endif%}
            {% endblock %}
            
        <div class="row">

            <!-- *** LEFT COLUMN ***
    _________________________________________________________ -->

            <div class="col-md-9">
                
                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img src="/media/{{ detalles.0.urlImagen }}" alt="" class="img-responsive">
                        </div>

                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->

                        <div class="ribbon new">
                            <div class="theribbon">NEW</div>
                            <div class="ribbon-background"></div>
                        </div>
                        <!-- /.ribbon -->
                        <div class='box'>
                            <div class="row" id="thumbs">
                                    <div class="col-xs-4">
                                        <a href="/media/{{ detalles.0.urlImagen }}" class="thumb">
                                            <img src="/media/{{ detalles.0.urlImagen }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/media/{{ detalles.0.urlImagen }}" class="thumb">
                                            <img src="/media/{{ detalles.0.urlImagen }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">

                            
                                <div class="text-center">
                                    <h3>{{detalles.0.nombre}}</h3>
                                    <h4>{{detalles.0.marca}}</h4>
                                </div>

                                <p class="price">S/. {{ detalles.0.precioBasico }}</p>
                                <blockquote>    
                                    <h4>Stock: {{detalles.0.stock}} Unidades</h4>
                                    <p> {{ detalles.0.info }}</p>
                                </blockquote>
                                <p class="text-center">
                                    <a href="/cliente/carrito?id={{ id }}&cant=1">
                                        <button class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Agregar al Carrito</button>
                                    </a>
                                </p>
                            
                            <div class="text-center">
                                <a href="?id={{ id }}&ald=1">
                                    <button  class="btn btn-default"   title="Enviar a la lista de Deseos"><i class="fa fa-heart-o"></i>Agregar a mi lista de Deseos</button>
                                </a>
                            </div>
                            
                        </div>
                    </div>

                </div>


                <div class="box" id="details">
                    <p>
                        <h4>Información Adicional</h4>
                        <blockquote>
                            <p><em>{{detalles.0.info}}</em>
                            </p>
                        </blockquote>
                        <p>{{detalles.0.descripcion}}</p>
                        <h4>Medidas</h4>
                        <p>{{detalles.0.medidas}}</p>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box text-uppercase">
                            <h3>Quizá estos productos te interesen</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="{% static 'img/product2.jpg' %}" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <div class="text">
                                <h3>Fur coat</h3>
                                <p class="price">$143</p>

                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                </div>

                

            </div>
            <!-- /.col-md-9 -->


            <!-- *** LEFT COLUMN END *** -->

            <!-- *** RIGHT COLUMN ***
  _________________________________________________________ -->

            <div class="col-sm-3">

                <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            {%if mis_categorias%}
                            {%for categoria in mis_categorias %}
                            <li>
                                <a href="/?categoria={{categoria.nombre}}">{{categoria.nombre}}<span class="badge pull-right"></span></a>
                            </li>
                            {%endfor%}
                            {%endif%}
                            

                        </ul>

                    </div>
                </div>



                <!-- *** MENUS AND FILTERS END *** -->

                <div class="banner">
                    <a href="shop-category.html">
                        <img src="{% static 'img/banner.jpg' %}" alt="sales 2014" class="img-responsive">
                    </a>
                </div>
                <!-- /.banner -->
            </div>
            <!-- /.col-md-3 -->

            <!-- *** RIGHT COLUMN END *** -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->






{% endblock %}

