.b-r{
    border: 1px solid #00CED1;
    padding: 10px;
    border-radius: 15px;
}

.pad-10{
	padding-left: 10px;
	padding-right: 10px;
}


.pad-15{
	padding-left: 15px;
	padding-right: 15px;
}


.pad-20{
	padding-left: 20px;
	padding-right: 20px;
}