{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
iSeller - Una Nueva Forma de comprar
{% endblock %}

{% block content%}


	<div id="heading-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2>Una nueva manera de comprar</h>
				</div>
				<div class="col-md-5">
					<ul class="breadcrumb">
						<li>Inicio/</a>						
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<div class="container">

			<div class="row">


				<!-- *** LEFT COLUMN ***
		_________________________________________________________ -->

				<div class="col-sm-3">

					<!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
					<div class="panel panel-default sidebar-menu">

						<div class="panel-heading">
							<h3 class="panel-title">Categorias</h3>
						</div>

						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked category-menu">
								{%if mis_categorias%}
								{%for categoria in mis_categorias %}
								<li>
									<a href="/categoria?cat={{categoria.nombre}}">{{categoria.nombre}}<span class="badge pull-right"></span></a>
								</li>
								{%endfor%}
								{%endif%}
							</ul>
						</div>
					</div>

					<div class="panel panel-default sidebar-menu">

						<div class="panel-heading">
							<h3 class="panel-title">Marcas</h3>
							<a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
						</div>

						<div class="panel-body">

							<form>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox">Armani (10)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox">Versace (12)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox">Carlo Bruni (15)
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox">Jack Honey (14)
										</label>
									</div>
								</div>
								<button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>
							</form>
						</div>
					</div>

					<div class="banner">
						<a href="shop-category.html">
							<img src="{% static 'img/banner.jpg' %}" alt="sales 2014" class="img-responsive">
						</a>
					</div>

					<!-- /.banner -->

				</div>
				<!-- /.col-md-3 -->

				<!-- *** LEFT COLUMN END *** -->

				<!-- *** RIGHT COLUMN ***-->

				<div class="col-sm-9">
					<div class="banner">
						<a href="shop-category.html">
							<img src="{% static 'img/banner4.jpg' %}" alt="sales 2014" class="img-responsive">
						</a>
					</div>
					<p class="text-muted lead">Ultimas promociones :</p>

					<div class="row products">

							{% if ofert_list %}
							
							{% for  item in ofert_list %}

							<div class="col-md-4 col-sm-6">
									<div class="product">
										<div class="image">
											<a href="/detalles?id={{ item.idProducto }}">
												<img src="/media/{{ item.urlImagen }}" alt="" class="img-responsive image1">
											</a>
										</div>
										<!-- /.image -->
										<div class="text">
											<h4><a href="/detalles?id={{ item.idProducto }}">{{ item.nombre }} </a></h4>
											<h4> {{ item.marca }}</h4>
											<p class="price"><del>indefinido</del> ${{item.precioBasico}}</p>
											<p class="buttons">
												<a href="shop-detail.html" class="btn btn-default">View detail</a>
												<a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</p>
										</div>
										<!-- /.text -->
		
										<div class="ribbon sale">
											<div class="theribbon">SALE</div>
											<div class="ribbon-background"></div>
										</div>
										<!-- /.ribbon -->
		
										<div class="ribbon new">
											<div class="theribbon">NEW</div>
											<div class="ribbon-background"></div>
										</div>
										<!-- /.ribbon -->
									</div>
									<!-- /.product -->
								</div>
							{% endfor %} 
							{% else %}
							Error, no se encontraron productos
							{% endif %}
					
						<!-- /.col-md-4 -->
					</div>
					<!-- /.products -->

					<div class="row">

						<div class="col-md-12 banner">
							<a href="#">
								<img src="{% static 'img/banner3.jpg' %}" alt="" class="img-responsive">
							</a>
						</div>

					</div>


					<div class="pages">

						<p class="loadMore">
							<a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
						</p>

						<ul class="pagination">
							<li><a href="#">&laquo;</a>
							</li>
							<li class="active"><a href="#">1</a>
							</li>
							<li><a href="#">2</a>
							</li>
							<li><a href="#">3</a>
							</li>
							<li><a href="#">4</a>
							</li>
							<li><a href="#">5</a>
							</li>
							<li><a href="#">&raquo;</a>
							</li>
						</ul>
					</div>


				</div>
				<!-- /.col-md-9 -->

				<!-- *** RIGHT COLUMN END *** -->

			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /#content -->


{%endblock%}

